
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/alertify.min.js"></script>
<link href="~/Scripts/alertify.core.css" rel="stylesheet" />
<link href="~/Scripts/alertify.default.css" rel="stylesheet" />
<link href="~/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Assets/jquery/jquery.min.js"></script>



<script>
    $(document).ready(function () {
        $("#IdUnidad").change(function () {
             var idEvento = ($('#IdEvento').val());
            var idUnidad = ($('#IdUnidad').val());
             muestraParticipantes(idEvento, idUnidad)

        });

        $("#IdEvento").change(function () {
            var idEvento = ($('#IdEvento').val());
            var idUnidad = ($('#IdUnidad').val());
            muestraParticipantes(idEvento, idUnidad)
        });

        function muestraParticipantes(idEvento, idUnidad) {

            alert(idEvento + "," + idUnidad);

            var envio = "{IdCampana:'" + $("#ListaCampana").val() + "'";

            envio += "}";

            var json = eval("(" + envio + ')');

            var seleccion = $('#ListaCampana').val();

            $.ajax({
                type: 'POST',
                url: '/Gestion/UltimaGestiones',
                data: JSON.stringify(json),
                async: true,//this makes the ajax-call blocking
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',

                success: function (jsonData) {
                    //alertify.alert($('#ListaCampana').val());
                    // var d = new Date(datoGestion.FechaHoraIngGestio);
                    var d = new Date();

                    var items = '<table class="table table-hover table-striped"><thead><tr class="bg-primary"> <tr><th> </th><th>Contacto</th><th>Fecha Gestión</th><th>Gestión</th><th>Resultado Gestión</th><th>Agente</th><th>Observaciones</th><th> </th></tr>';
                    var i = 0;
                    $.each(jsonData, function (i, datoGestion) {
                        var e = (datoGestion.FechaHoraIngGestion.replace("/Date(", "")).replace(")/", "");
                        var d = new Date(parseInt(e));
                        var n = d.toLocaleTimeString();//alertify.alert(d);

                        items += "<tr><td>" + (i + 1).toString() + " </td><td>" + datoGestion.IdHabilitado + "</td><td>" + d.toLocaleDateString() + " " + d.toLocaleTimeString() + "</td><td>" + datoGestion.NombreTipoGestion + "</td><td>" + datoGestion.NombreResultado + "</td><td>" + datoGestion.NombreAgente + "</td><td>" + datoGestion.ObservacionesGestion + "</td><td><input type=radio name=habilitado value=" + datoGestion.Habilitado + "  /></td></tr>";
                    });
                    items += "</table>";

                    $('#rData').html(items);
                },
                error: function () {
                    alertify.alert('Error loading PatientID=' + id);
                }

            }
        }

    });

</script>


<table id="encabezado" class="table">
    <tbody>
        <tr style="font-size:20px;">
            <td colspan="2">
                <div class="panel panel-default">
                    <div class="panel-heading">Ingresar Detalle</div>
                    <table id="encabezado" class="table" style="font-size:15px;">
                        <tbody>
                            <tr>
                                <td>
                                    Evento
                                    <div class="col-md-12 dropdown">
                                        @Html.DropDownList("ListaEvento", ViewBag.ListaEventos as SelectList, "Seleccione Evento", htmlAttributes: new { @class = "form-control", @id = "IdEvento", @required = "required" })
                                    </div>

                                </td>
                                <td>
                                    Observaciones
                                    @Html.DropDownList("ListaUnidad", ViewBag.ListaUnidades as SelectList, "Seleccione Unidad", htmlAttributes: new { @class = "form-control", @id = "IdUnidad", @required = "required" })
                                </td>

                                <td style=" vertical-align:middle;text-align: center">
                                    <input class="btn btn-success btn-lg" type="submit" name="agregar" id="agregar" value="Agregar" />

                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </td>

        </tr>
        <tr style="font-size:15px;">
            <td colspan="2">
                <div class="panel panel-default">
                    <div class="panel-heading">Detalle Ingreso</div>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr class="bg-primary">
                                <th>RUT</th>
                                <th>Nombre</th>
                                <th>Unidad</th>
                                <th>Evento</th>
                                <th>Observaciones</th>
                                <th>Monto Pago($)</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody></tbody>

                    </table>

                </div>
            </td>

        </tr>

    </tbody>
</table>


